/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

input{
      border:1px solid #dddddd;    
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  color: #555;
  background: #000;
  font-family: 'Premiera Book', Premiera, 'Droid Serif', Georgia, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 62.5%;
}

.container{
    width:78em;/* ;100% */
    margin:0 auto;
    border:1px solid;
    background-color: #fff;
}
.container a{
    text-decoration: none;
    color:#000;
}
ul, li{
    margin:0;
    padding:0;
    list-style: none;
}
li a{
    display:block;
    font-size: 1.0em;
}
header{
    background: #2FC0D3;
}
header li,footer li{
    float:left;  
    padding:.2em .4em; 
    margin-left:2em;
}
footer li{
    padding:.2em .2em;
    margin-left:.2em;
}
header li:first-child{
    margin-left: 0;
}
header > section{
    padding-top:5px;
    height:7em;
    position: relative;
}
header .top-bar,
header > section.main-menu{
    padding:0 2em;
}
footer nav ul,
 footer section{
    padding:0 7em;
}
header > section figure{
    width:10em;
    box-shadow: 1px 5px 10px infotext;
    padding:5px;
    text-align: center;
}
header > section figcaption{
    letter-spacing:2px;
    text-shadow:1px 3px #000;
    color:#8AEEFD;
}
header .top-bar ul{
    float:right;
}
header .top-bar,
 .top-bar a,
 .container footer nav,
 .container footer nav li a{
    background-color:#2B2B2D;
    color:#fff;
}
header .user-account,
header .cart, 
footer .mail,
footer .telephone,
footer .fax{
    background-repeat:no-repeat;
    padding-left:18px;
}
header .user-account{
    background-image:url(../img/icons/user.png);
}
header .cart{
    background-image:url(../img/icons/cart.png);
}
footer .mail{
    background-image:url(../img/icons/mail.png);
}
footer .telephone{
    background-image:url(../img/icons/tele.png);
}
footer .fax{
    background-image:url(../img/icons/fax.png);
}
header > section .menu-list{
    background-color : #3BC2D5;
    box-shadow: 1px 5px 10px infotext;
    width: 34.5em;
    height:6em;
    padding:0px 2em;
    position: absolute;
    top:0;
    right: 2em;
    line-height:6em;
    z-index: 1;
}
header .menu-list li{
    padding-top:0;
    padding-bottom: 0;
}
header .menu-list li a{
    display: inline;
    text-transform: uppercase;
    color:#8AEEFD;
}
.main-container{
    position: relative;
    margin-top: 1em;
}
.main-container .form-search{
    margin:1em 0em 1em 1em;
    float:right;
}
.main-container .form-search img{
    position: relative;
    left:-20px;
}
.main-container h2,
.container footer nav li a{
    text-transform: uppercase;
}

.main-container aside,
.main-container > div{
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.main-container aside{
    font-size: 110%;
    width:30%;
    padding-left:2em;
    padding-top:1.5em;
}
.main-container aside div{
    border-bottom: 2px solid #dddddd;
    padding-bottom:1em;
    margin-bottom:1em;
}
.main-container aside label{
    width:50%;
    font-weight: bold;

}
.main-container aside select{
    width:100%;
}
.search-product{
    float:right;
}
.main-container > div{
    width:70%;
    padding-left:20px;
}
.main-container section > article{
    width: 15.5em;
    height:18.5em;
    margin-left: 1.7em;
    margin-bottom:  1em;
    float: left;
    border: 1px solid #dddddd;
}
.main-container section article:nth-of-type(3n + 1){
    margin-left:0;
}
.main-container article figure{
    height: 11em;
    line-height: 11em;
    padding:10px 0;
    text-align: center;
}
.main-container article figure img{
    width: 8.5em;
    height:9em;
}
.main-container article h3{
    border-top: 1px solid #dddddd;
    padding:3px 5px;
    margin:0;
}
.main-container article span{
    padding:0 5px;
    font-size: 1.3em;
}
.main-container article a.btn{
    float:right;
    margin-right:5px;
    border-radius : 5px;
    border : 1px solid;
    font-weight : bold;
    text-align : center;
    border-color : #CECECE;
    padding: 3px;
    position: relative;
}
.btn.blue{
    color:#fff;
    background: #34c5d6; /* Old browsers */
    background: -moz-linear-gradient(top, #34c5d6 0%, #2ec5e0 37%, #2ec5e0 51%, #2ec5e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34c5d6), color-stop(37%,#2ec5e0), color-stop(51%,#2ec5e0), color-stop(100%,#2ec5e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #34c5d6 0%,#2ec5e0 37%,#2ec5e0 51%,#2ec5e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #34c5d6 0%,#2ec5e0 37%,#2ec5e0 51%,#2ec5e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #34c5d6 0%,#2ec5e0 37%,#2ec5e0 51%,#2ec5e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #34c5d6 0%,#2ec5e0 37%,#2ec5e0 51%,#2ec5e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34c5d6', endColorstr='#2ec5e0',GradientType=0 ); /* IE6-9 */
}
footer{
    margin-top: 2em;
    box-shadow: 1px 5px 10px infotext;
    height: 150px;
    position: relative;
}
footer section article{
    width:15em;
    height:11em;
    margin-top:1em;
    float:left;
    margin-left:1em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
footer input{
    width:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-bottom: 1em;
}
footer section li{
    float:none;
    padding-bottom:1em;
}
footer section article:first-child{
    margin-left:0;
}
footer h3{
    text-transform: uppercase;
}
footer nav{
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer address{
    margin-right:7em;
    float:right;
}

.cartList{
    cursor:pointer;
}

table{
    border-collapse:collapse;
    width:100%;
}
table, td, th{
    border:1px solid #dddddd;
}
table  th{
    min-width : 15%;
}
.popup-container{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top:-200px;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    width: 600px;
    height:400px;
    padding: 25px;
    z-index: 2;

}
.zoomContainer{
     z-index: 3;   
}
.popup-container div.list-container{
    overflow-y:scroll;
    height:390px;
    text-align: center;
}
.popup-container img:not(.removeDataFromCart){
    width:100px;
    height:100px;
}
.popup-container .cart-details-view{
    text-align: center;
}
.popup-container .cart-details-view  figure{
    height : 160px;
}
.popup-container .cart-details-view img{
    width:170px;
    height:160px;
}
.button {
    background-color: #2b91af;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
.button.b-close, .button.bClose{
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 6px 12px;
    position: absolute;
    right: -7px;
    top: -7px;
}
.overlay{
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.cart-details-view > article{
    width:50%;
    float:left;
    height:400px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
.cart-details-view > article:first-child{
    border-right : 1px solid #c0c0c0;
}
.cart-details-view .about-product-details{
    padding-left : 20px;
    text-align:left;
}

.about-product-details span{
    display: inline-block;
    margin-top: 3px;
    margin-right:5px;
    padding:10px;
}
.checkout{    
    margin-top : 40px;
    text-align: center;
}
.checkout .btn{

    padding:10px 20px;
}

.thumbnails{
    border-top : 1px solid #c0c0c0;
    width:300px;
    line-height:100px;
    text-align: left;
    margin-top: 30px;
    text-align:center;
}

.thumbnails div,.thumbnails input{
    float:left;
}
.thumbnails input{
    margin-top:45px;
}
.thumbnails div{
    width:210px;
    overflow: hidden;
    margin:0px 5px;
}
.thumbnails div li{
    width:7em;
}
.thumbnails ul{
    text-align:center;
    overflow: hidden;
    width:600px;
    margin:0 auto;
    position: relative;
    left:0;
}
.popup-container .thumbnails img{
    width:65px;
    height:40px;
}
.thumbnails ul li{
    float:left;
    /* margin-left: 10px; */
}
/*.thumbnails ul li:first-child{
    margin-left: 0;
} 
.desc{
    margin: 0 0 0 0;
}
.checkout{
    margin: 53px 0 0 200px;
}*/






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
